body {
  font-family: 'Raleway', sans-serif;
  color: $mainFont;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

* {
  box-sizing: border-box;
  margin: 0;

}

/*make sure to define link colors here universally*/
a {
  color: $mainFont;
  text-decoration: none;
}
