body {
  font-family: 'Raleway', sans-serif;
  color: $mainFont;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

*{
  box-sizing: border-box;
}

/*make sure to define link colors here universally*/
a {
  color: $mainFont;
}
