.aboutme{


  h2{
    margin-top: 40px;
    padding-left: 80px;
  }

  h3 {

    padding-left: 40px;
    padding-top: 10px;
    hr {
      margin-top: 15px;
      max-width: 70px;
    }

    @mixin atMedium {
      padding-top: 20px;
      padding-left: 98px;
      max-width: 300px;
    }
  }


  p{
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 5px;
    padding-left: 42px;
    padding-bottom: 20px;

    @mixin atMedium {
      max-width: 350px;
      padding-right: 10px;
      padding-left: 100px;
      margin-bottom: 20px;
    }
  }

}
