body {
  background-image: url("../../assets/images/background.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  /*background-color: rgba(#000, 0.5);*/
}



.background {

  &--green {
    background-color: rgba($mainGreen, 0.8);

    @mixin atSmall {
      background-color: $mainGreen;
    }
  }

  &--misty {
    background-color: rgba($darkGray, 0.5);

  }
}
