.btn {
  background-color: rgba($darkGray, 0.8);
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  padding: 10px 10px 10px 10px;


  &--topics {
    font-weight: 200;

    @mixin atMedium {

    border-right: 2px solid $mistyGray;
    }
  }

  &--active {
    background-color: $btnGreen;
  }

  &--footer {
    display: inline-block;
    margin-top: 4px;
    background-color: $mainGreen;
    color: #000;


      @mixin atMedium {
        margin-top: 2px;
        display: inline-block;
        margin-left: 30px;
      }
  }
}
