.fade {
    animation-name: fade;
    animation-duration: 7s;
    animation-name: fade;
    animation-duration: 7s;
}

@-webkit-keyframes fade {
  from {opacity: .1}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .1}
  to {opacity: .8}
}

/* Caption text */
.slide-text {
  color: #f2f2f2;
  font-size: 1rem;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  font-style: italic;
  font-family: 'El Messiri', sans-serif;
}
