.headline {
  font-size: 1.2rem;
  color: #fff;

  @mixin atMedium {
    font-size: 1.5rem;

    &--extra-margin-top {
      margin-top: 50px;
    }
  }

  &__mobileOnly {
    @mixin atMedium {
      display: none;
    }
  }

  &__WDD {
    display: none;
    @mixin atMedium {
      color: $mainGreen;
      font-family: sans-serif;
      display: block;
      font-size: 2.2rem;
      font-weight: 200;
      text-shadow: 2px 2px 2px rgba(#000,0.6);
      margin-left: 15px;
    }
  }
}
