.modal {
   position: fixed;
   z-index: 100;
   color: #000;
   background-color: rgba(#fff, 0.95);
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;

   /*The modal is hidden by default and the line below it will allow it to toggel
   to visible with jquery*/
   visibility: hidden;
   transform: scale(1.2);
   transition: all .4s ease-out;
   /*This line is set of the MODAL.JS file to enable visibility functions*/
   &--is-visible{
     visibility: visible;
     transform: scale(1);
   }


   &--headline{
     font-family: 'El Messiri', sans-serif;
     font-size: 3.3rem;
     text-align: center;
     padding-top: 100px;

   }

   &--para {
     font-family: 'El Messiri', sans-serif;
     line-height: 2rem;
     max-width: 300px;
     font-size: 1.4rem;
     margin-left: auto;
     margin-right: auto;
     text-align: center;
     padding-top: 30px;

     @mixin atMedium{
       max-width: 400px;

     }
   }

   &__close{
     position: absolute;
     top: 30px;
     right: 45px;
     font-size: 2rem;
     font-weight: bolder;
     transform: scaleX(1.1);

     &:hover{
       cursor: pointer;
       color: #EEBF00;
     }
   }


}

#email{
  color: black;
  font-style: italic;
}
