.my {
  display: none;
  background-color: rgba($darkGray, 0.8);
  height: 400px;;
  border-bottom: 2px solid $mistyGray;


  &--top-margin{
    margin-top: 25px;
  }


  @mixin atMedium{
    height: 500px;
  }

  &__image {

    display: none;
    visibility: hidden;

    @mixin atLarge{
      overflow: hidden;
      border-radius: 20px;
      display: block;
      position: relative;
      margin-left: 40px;
      width: 46%;
      margin-top: 40px;
      height: auto;
      float: left;
      visibility: visible;
    }

    &-lower {
      margin-top: 80px;
    }
  }

  &__headline {
    font-family: 'El Messiri', sans-serif;
    font-size: 1.9rem;
    position: relative;

    @mixin atSmall {
    padding-top: 40px;
    text-align: center;

  }

    @mixin atMedium {
      text-align: center;
      hr {
        visibility: hidden;
      }
    }
    @mixin atLarge {
      text-align: left;
      /*top: 40px;*/
      left: 60px;
    }
  }

  &__para {
    max-width: 250px;
    line-height: 1.4rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 35px;

    @mixin atMedium {
      position: relative;
      line-height: 1.6rem;
      max-width: 400px;
    }
    @mixin atLarge {
      max-width: 250px;
      text-align: left;
      position: relative;
      line-height: 1.6rem;
      float: left;
      left: 60px;
    }
  }

  hr{
    display: none;

    @mixin atMedium{
      display: block;
      margin-top: 30px;
    }

    @mixin atMedium{
      width: 130px;
      border: 1px solid $mainGreen;
    }
  }


  &--is-visible {

    display: block;

  }

}
/* the class "mobileSlides" is used to disable the image since I decided that
at this time I would opt-out images on smallscreens*/
.mobileSlides{
  display: none;
  @mixin atLarge{
    display: block;
  }
}
