.primary-nav {



  &--pull-right {
    float: right;
  }

  ul {
    margin: 0;
    padding: 0;
    @mixin clearfix;
  }

  li {
    list-style: none;
    display: inline-block;
    padding-right: 7px;

    @mixin atMedium {
      float: left;
      padding-right: 25px;
    }
  }

  li:last-child {
    padding-right: 0;
  }

  a {
    text-decoration: none;
    color: $darkGray;
    font-weight: bold;

  }
}
