.prologue {
  position: relative;
  padding-top: 55px;

  &__image {
    display: block;
    opacity: 0.9;

    @mixin atMedium {
      opacity: 1;
    }
  }

  &__text-content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 50%;
    max-width: 200px;
    padding-left: 20px;


    @mixin atMedium {
      max-width: 400;
      padding-left: 25px;
      left: 4rem;
    }
  }

  &__greeting{
    font-size: .9rem;
    font-weight: 200;
    margin: 0 ;
    padding-bottom: 10px;

    @mixin atMedium {
      font-size: 1.5rem;
      margin: 0 ;
      padding-bottom: 25px;
    }

  }

  &__title {
    font-family: 'El Messiri', sans-serif;
    margin: 0;
    font-size: 1.9rem;

    @mixin atMedium {
      font-size: 4rem;
      line-height: 60px;
    }
  }

  &__subtitle {
    font-size: .7rem;
    font-weight: 200;
    margin: 0;
    padding-top: 10px;


    @mixin atMedium {
      font-size: 1.1rem;
      padding-top: 25px;
    }
  }


}
