  .icon--brain {
    width: 30px;
    height: 30px;
    background-image: url('/build/sprite/css/svg/sprite.css-15d33797.svg');
    background-position: 0 50% ;
  }
  .icon--compass {
    width: 30px;
    height: 30px;
    background-image: url('/build/sprite/css/svg/sprite.css-15d33797.svg');
    background-position: 50% 50% ;
  }
  .icon--graduation {
    width: 30px;
    height: 30px;
    background-image: url('/build/sprite/css/svg/sprite.css-15d33797.svg');
    background-position: 100% 50% ;
  }
  .icon--hamedlogo {
    width: 90px;
    height: 30px;
    background-image: url('/build/sprite/css/svg/sprite.css-15d33797.svg');
    background-position: 0 0 ;
  }
  .icon--pen {
    width: 30px;
    height: 30px;
    background-image: url('/build/sprite/css/svg/sprite.css-15d33797.svg');
    background-position: 0 100% ;
  }
