.topics {

  font-size: 0.7rem;

  &-bio {
    border-bottom: 3px solid $btnGreen;

  }
  &-edu {
    border-bottom: 3px solid $btnGreen;
  }
  &-exp {
    border-bottom: 3px solid $btnGreen;
  }
  &-travels {
    border-bottom: 3px solid $btnGreen;
  }

}
